<script src='https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js'></script>
<script>
    {% autoescape false %}
    function normalizeId(id) {
        return id.replaceAll(" ", "_").replaceAll(".", "_").replaceAll("&", "_").replaceAll("?", "_");
    }

    function generateInstanceGraph(prefix, turtle_text) {
        prefix = normalizeId(prefix);
        const instanceGraph = $(`#${prefix}-instance-graph`);
        if (instanceGraph.text() !== "") {
            return;
        }

        const formData = new FormData();
        formData.set("turtle_text", turtle_text);
        fetch('/functions/instance', {method: "POST", body: formData})
            .then(res => res.text())
            .then(async text => {
                instanceGraph.text(text);
                await mermaid.run({
                    querySelector: `#${prefix}-instance-graph`,
                });

                const graph = instanceGraph.find("svg")[0];
                graph.style.height = "300px";
                const panZoom = svgPanZoom(graph, {
                    zoomEnabled: true,
                    controlIconsEnabled: true,
                    fit: true,
                    center: true
                });

                panZoom.fit();

                graph.style.width = '95%';
                graph.style.maxWidth = '95%';

                panZoom.updateBBox();
                panZoom.resize();
                panZoom.fit();
                panZoom.center();
            })
    }

    function generateJsonLD(prefix, turtle_text) {
        prefix = normalizeId(prefix);
        const jsonLD = $(`#${prefix}-json-ld`);
        if (jsonLD.text() !== "") {
            return;
        }
        const formData = new FormData();
        formData.set("turtle_text", turtle_text);
        fetch('/functions/jsonld', {method: "POST", body: formData})
            .then(res => res.text())
            .then(text => {
                jsonLD.text(text)
            })
    }
    {% endautoescape %}
</script>
<div class="tabset">
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_ontgraph" hidden aria-hidden="true"
           checked>
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_instgraph" hidden aria-hidden="true">
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_turtle" hidden aria-hidden="true">
    {% if graphs.error is defined %}
        <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_rdfwarn" hidden aria-hidden="true">
    {% endif %}
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_jsonld" hidden aria-hidden="true">
    <ul hidden aria-hidden="true">
        <li><label for="tabset_{{ prefix }}_ontgraph"><i class="fas fa-project-diagram"></i> Ontology Graph</label>
        </li>
        <li onclick="generateInstanceGraph('{{ prefix }}', `{{ graphs['turtle_text'] }}`)"><label for="tabset_{{ prefix }}_instgraph"><i class="fas fa-sitemap"></i> Instance Graph</label></li>
        <li><label for="tabset_{{ prefix }}_turtle"><i class="fas fa-code"></i> Turtle RDF</label></li>
        {% if graphs.error is defined %}
            <li><label for="tabset_{{ prefix }}_rdfwarn"><i class="fas fa-exclamation-triangle"></i> RDF
                warnings</label></li>
        {% endif %}
        {% if graphs.error is undefined %}
            <li onclick="generateJsonLD('{{ prefix }}', `{{ graphs['turtle_text'] }}`)"><label for="tabset_{{ prefix }}_jsonld"><i class="fas fa-stream"></i> JSON-LD</label></li>
        {% else %}
            <li><label for="tabset_{{ prefix }}_jsonld" class="error"><i class="fas fa-exclamation-circle"></i> RDF
                Error</label></li>
        {% endif %}
    </ul>
    <div>
        <section id="ontologyGraph">
            <h2>Ontology Graph</h2>
            <div id="{{ prefix|replace(' ', '_')|replace('.', '_')|replace('&', '_')|replace('?', '_') }}-ontology-graph" data-turtle="{{ graphs['turtle_text'] }}"></div>
        </section>
        <section id="instanceGraph">
            <h2>Instance Graph</h2>
            <div id="{{ prefix|replace(' ', '_')|replace('.', '_')|replace('&', '_')|replace('?', '_') }}-instance-graph"></div>
        </section>
        <section id="turtleRDF">
            <h2>Turtle RDF</h2>
            <textarea rows="32" readonly="readonly">
                    {{ graphs["turtle"] }}
                </textarea>
            <br/>
        </section>
        {% if graphs.error is defined %}
            <section>
                <h2>RDF Warnings</h2>
                <div class="rdfwarning">
                    {{ graphs.error|safe }}
                </div>
                <br/>
            </section>
        {% endif %}
        {% if graphs.error is undefined %}
            <section id="jsonLD">
                <h2>JSON-LD</h2>
                <textarea rows="32" readonly="readonly" id="{{ prefix|replace(' ', '_')|replace('.', '_')|replace('&', '_')|replace('?', '_') }}-json-ld"></textarea>
            </section>
        {% else %}
            <section>
                <h2 class="error">RDF Error</h2>
                <div class="errormessage">
                    {{ graphs.error|safe }}
                </div>
            </section>
        {% endif %}
    </div>
</div>
