<script src='https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js'></script>
<script>
    {% autoescape false %}
    function normalizeId(id) {
        return id
        .replaceAll(" ", "_")
        .replaceAll(".", "_")
        .replaceAll("&", "_")
        .replaceAll("?", "_")
        .replaceAll("[", "")
        .replaceAll("]", "");
    }

    function generateInstanceGraph(prefix, turtle_text) {
        prefix = normalizeId(prefix);
        const instanceGraph = $(`#${prefix}-instance-graph`);
        if (instanceGraph.text() !== "") {
            return;
        }

        const formData = new FormData();
        formData.set("turtle_text", turtle_text);
        fetch('/functions/instance', {method: "POST", body: formData})
            .then(res => res.text())
            .then(async text => {
                instanceGraph.text(text);
                await mermaid.run({
                    querySelector: `#${prefix}-instance-graph`,
                });

                const graph = instanceGraph.find("svg")[0];
                graph.style.height = "300px";
                const panZoom = svgPanZoom(graph, {
                    zoomEnabled: true,
                    controlIconsEnabled: true,
                    fit: true,
                    center: true
                });

                panZoom.fit();

                graph.style.width = '95%';
                graph.style.maxWidth = '95%';

                panZoom.updateBBox();
                panZoom.resize();
                panZoom.fit();
                panZoom.center();
            })
    }

    function generateJsonLD(prefix, turtle_text) {
        prefix = normalizeId(prefix);
        const jsonLD = $(`#${prefix}-json-ld`);
        if (jsonLD.text() !== "") {
            return;
        }
        const formData = new FormData();
        formData.set("turtle_text", turtle_text);
        fetch('/functions/jsonld', {method: "POST", body: formData})
            .then(res => res.text())
            .then(text => {
                jsonLD.text(text)
            })
    }
    {% endautoescape %}
</script>
<div class="tabset" @qa-mode-changed.window="qaMode = $event.detail"  x-data="{qaMode: false}">
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_ontgraph" hidden aria-hidden="true"
           checked>
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_instgraph" hidden aria-hidden="true">
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_turtle" hidden aria-hidden="true">
    {% if graphs.error is defined %}
        <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_rdfwarn" hidden aria-hidden="true">
    {% endif %}
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_jsonld" hidden aria-hidden="true">
    {% for name in categories %}
    <input type="radio" name="tabset_{{ prefix }}" id="tabset_{{ prefix }}_{{ name | replace(' ', '_') }}" hidden aria-hidden="true">
    {% endfor %}
    <template x-if="!qaMode">
        <ul hidden aria-hidden="true">
            <li><label for="tabset_{{ prefix }}_ontgraph"><i class="fas fa-project-diagram"></i> Ontology Graph </label>
            </li>
            <li onclick="generateInstanceGraph('{{ prefix }}', `{{ graphs['turtle_text'] }}`)"><label for="tabset_{{ prefix }}_instgraph"><i class="fas fa-sitemap"></i> Instance Graph</label></li>
            <li><label for="tabset_{{ prefix }}_turtle"><i class="fas fa-code"></i> Turtle RDF</label></li>
            {% if graphs.error is defined %}
                <li><label for="tabset_{{ prefix }}_rdfwarn"><i class="fas fa-exclamation-triangle"></i> RDF
                    warnings</label></li>
            {% endif %}
            {% if graphs.error is undefined %}
                <li onclick="generateJsonLD('{{ prefix }}', `{{ graphs['turtle_text'] }}`)"><label for="tabset_{{ prefix }}_jsonld"><i class="fas fa-stream"></i> JSON-LD</label></li>
            {% else %}
                <li><label for="tabset_{{ prefix }}_jsonld" class="error"><i class="fas fa-exclamation-circle"></i> RDF
                    Error</label></li>
            {% endif %}
        </ul>
    </template>
    <template x-if="qaMode">
        <ul hidden aria-hidden="true">
            <li><label for="tabset_{{ prefix }}_ontgraph"><i class="fas fa-project-diagram"></i> Ontology Graph </label>
            </li>
            <li onclick="generateInstanceGraph('{{ prefix }}', `{{ graphs['turtle_text'] }}`)"><label for="tabset_{{ prefix }}_instgraph"><i class="fas fa-sitemap"></i> Instance Graph</label></li>
            <li><label for="tabset_{{ prefix }}_turtle"><i class="fas fa-code"></i> Turtle RDF</label></li>
            {% if graphs.error is defined %}
                <li><label for="tabset_{{ prefix }}_rdfwarn"><i class="fas fa-exclamation-triangle"></i> RDF
                    warnings</label></li>
            {% endif %}
            {% if graphs.error is undefined %}
                <li onclick="generateJsonLD('{{ prefix }}', `{{ graphs['turtle_text'] }}`)"><label for="tabset_{{ prefix }}_jsonld"><i class="fas fa-stream"></i> JSON-LD</label></li>
            {% else %}
                <li><label for="tabset_{{ prefix }}_jsonld" class="error"><i class="fas fa-exclamation-circle"></i> RDF
                    Error</label></li>
            {% endif %}
            {% for name, ids in categories.items() %}
                <li x-show="qaMode">
                    <label for="tabset_{{ prefix }}_{{ name | replace(' ', '_') }}">
                        {{ name }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </template>
    <div>
        <section id="ontologyGraph">
            <h2>Ontology Graph</h2>
            <div id="{{ prefix|replace(' ', '_')|replace('.', '_')|replace('&', '_')|replace('?', '_')|replace('[', '')|replace(']', '') }}-ontology-graph" data-turtle="{{ graphs['turtle_text'] }}"></div>
        </section>
        <section id="instanceGraph">
            <h2>Instance Graph</h2>
            <div id="{{ prefix|replace(' ', '_')|replace('.', '_')|replace('&', '_')|replace('?', '_')|replace('[', '')|replace(']', '') }}-instance-graph"></div>
        </section>
        <section id="turtleRDF">
            <h2>Turtle RDF</h2>
            <textarea rows="32" readonly="readonly">
                    {{ graphs["turtle"] }}
                </textarea>
            <br/>
        </section>
        {% if graphs.error is defined %}
            <section>
                <h2>RDF Warnings</h2>
                <div class="rdfwarning">
                    {{ graphs.error|safe }}
                </div>
                <br/>
            </section>
        {% endif %}
        {% if graphs.error is undefined %}
            <section id="jsonLD">
                <h2>JSON-LD</h2>
                <textarea rows="32" readonly="readonly" id="{{ prefix|replace(' ', '_')|replace('.', '_')|replace('&', '_')|replace('?', '_')|replace('[', '')|replace(']', '') }}-json-ld"></textarea>
            </section>
        {% else %}
            <section>
                <h2 class="error">RDF Error</h2>
                <div class="errormessage">
                    {{ graphs.error|safe }}
                </div>
            </section>
        {% endif %}
        {% for name, items in categories.items() %}
            <section x-show="qaMode">
                <h2>{{ name }}</h2>
                <table border="1" style="margin-bottom: 15px;">
                    <thead>
                        <tr>
                            {% for item in items %}
                                <th style="padding: 5px 5px;">{{ item.ui_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item in items %}
                                <template x-if="'{{ name }}' in sample_col">
                                    <td style="text-align: center;  vertical-align: middle;">
                                        Count: <span x-text="counts[sample_col['{{ name }}']['{{ item.ui_name }}']['id']] ?? '-'"></span>
                                    </td>
                                </template>
                                <template x-if="!('{{ name }}' in sample_col)">
                                    <td style="text-align: center;  vertical-align: middle;" x-text="'-'"></td>
                                </template>
                            {% endfor %}
                        </tr>
                        <template x-for="i in [0, 1, 2, 3, 4]">
                            <tr>
                                {% for item in items %}
                                    <template x-if="'{{ name }}' in sample_col">
                                        <td style="text-align: center;  vertical-align: middle;" x-text="sample_col['{{ name }}']['{{ item.ui_name }}']['samples'][i] ?? '-'"></td>s
                                    </template>
                                    <template x-if="!('{{ name }}' in sample_col)">
                                        <td style="text-align: center;  vertical-align: middle;" x-text="'-'"></td>
                                    </template>
                                {% endfor %}
                            </tr>
                        </template>
                    </tbody>
                </table>
            </section>
        {% endfor %}
    </div>
    <style>
        .tabset > ul li label {
            padding: 10px;
            border: 1px solid;
            cursor: pointer;
        }

        .active {
            background: hsl(220, 100%, 98%);
            border-bottom-color: hsl(220, 100%, 98%);
        }

        .section-active{
            position: static;
        }

        input[type="radio"] {
            display: none;
        }
    </style>
    <script>
        document.querySelectorAll('.tabset').forEach((tabset) => {
            const inputs = tabset.querySelectorAll('input[type="radio"]');
            const sections = tabset.querySelectorAll('section');

            function updateActiveTab() {
                sections.forEach((section) => section.style.position = 'absolute');

                inputs.forEach((input, index) => {
                    if (input.checked) {
                        selected_label = tabset.querySelector(`label[for="${input.id}"]`)
                        if (selected_label){
                            grandparent = selected_label.parentElement.parentElement;
                            all_labels = grandparent.querySelectorAll('label');
                            all_labels.forEach((label) =>  {
                            label.style.textDecoration = ""; // Remove underline
                            label.style.backgroundColor = ""; // Reset background color
                });
                        }
                        if (sections[index]) {
                            sections[index].style.position = 'static';
                        }
                        if(selected_label) {
                            selected_label.style.textDecoration = 'underline';
                            selected_label.style.backgroundColor = 'hsl(220, 100%, 98%)';
                        }
                    }
                });
            }

            inputs.forEach((input) => {
                input.addEventListener('change', updateActiveTab);
            });

            updateActiveTab(); // Initialize on page load
        });
    </script>
</div>
