{% extends 'menubase.html' %}

{% block header %}
    <h1>{% block title %}About us{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% include 'about.html' %}
    <h2>List of Projects (and related institutions)</h2>
    <ul>
        {% for institution in projects.keys() %}
            <li>{{ institution }}</li>
            <ul>
                {% for project in projects[institution] %}
                    <li>
<a href="{{ url_for('docs.patternlistall', apikey=project['dbaseapikey']) }}?flag=0">{{ project["dbasename"] }}</a>
</li>

                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
