<p>
The Zellij semantic documentation platform is a tool for documenting semantic data patterns. It is designed to enable the creation of a library of reusable semantic data patterns, which are named, documented and deployable into different stages and software in the semantic data lifecycle. The programme offered by Zellij enables scholars to generate well formed semantic data through the adoption of existing patterns and their extension. Zellij documents and stores the data of the meta semantic model for projects. This documentation in turn is representable in an xml data exchange format which makes the patterns available in a system neutral format. The documented patterns can automatically generate mapping files, semantic platform deployment files, quality analysis files and more.
</p>

<p>
Zellij currently documents the main semantic standards of Linked.Art and the Semantic Reference Data Models and hosts over a dozen international projects derived from these base models covering areas of history, biology, vocabulary management, archaeology, art history, cultural heritage and more. It is an open source software currently funded by Swiss Universities and developed by Takin.solutions.
</p>
